body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fae8cc;
    color: #333333;
    min-height: 100vh;
    user-select: none;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #facd8a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.header h1{
    font-size: 40px;
    letter-spacing: 5px;
    color: white;
}

/* Gridbox */ 

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0;
}

#gridbox-container {
    display: grid;
    width: 550px;
    height: 550px;
    border: 20px solid #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Settings */
.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-right: 5vh;
    padding: 20px;
}

.current-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #facd8a;
    border: 7px solid white;
    border-radius: 10px;
    margin-bottom: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.settings h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.settings button {
    border: 5px solid #fdfdfd;
    border-radius: 10px;
    background-color: #facd8a;
    color: #fdfdfd;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 160px;
    padding: 10px;
    margin-bottom: 20px;
    transition-duration: 0.1s;
}

.settings button:hover {
    background-color: #fde6c1;
    cursor: pointer;
}

.slider-container {
    margin: 15px 0;
    width: 100%;
}

.slider {
    appearance: none;
    background-color: #c7c6c6;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9fb1e0;
    cursor: pointer;
}

.settings .grid-size {
    font-size: 20px;
}
